/*
color used:
primary color (dark blue) : #446966
secondary color(dark yellow/brown): #7b6745
background color (light blue) : #f4f6ee
text color(dark brown): #69695d
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f6ee;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #69695d;
}

h1,
h2,
h3,
h4 {
  line-height: 1.6;
}

h1 {
  font-size: 3.75 em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #446966;
  text-decoration: none;
}

a:visited {
  color: #446966;
}

a:hover {
  color: #7b6745;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #7b6745;
  text-decoration: underline;
}

a:active {
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #ff5f5d;
  color: #2e2e2e;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.4s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.botton:active {
  color: #994c30;
}

.button.contact {
  background-color: transparent;
  color: #ff5f5d;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
  transition: 0.4s opacity;
}

.button.contact:hover {
  opacity: 0.8;
  background-color: #ff5f5d;
  color: #fff;
}

.button.contact:active {
  color: #994c30;
}

a.button {
  color: #f4f6ee;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#home-main .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#about-body {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#designpath .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#home-main h1 {
  text-align: center;
}

#home-main h4 {
  text-align: center;
}

.logo {
  max-width: 80px;
}

header {
  background-color: #f4f6ee;
  display: inline-block;
  width: 100%;
  padding: 10px 0 4px;
  position: fixed;
  box-shadow: 1px 9px 28px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 9px 28px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 9px 28px rgba(0, 0, 0, 0.1);
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #446966;
}

nav > ul > li > a :visited {
  color: #446966;
}

nav > ul > li > a :hover {
  color: #7b6745;
  text-decoration: underline;
}

nav > ul > li > a :active {
  color: #994c30;
}

nav {
  display: inline-block;
  width: 100%;
}

#home-about {
  background-color: #f4f6ee;
}

main {
  padding-top: 150px;
}

#contact {
  text-align: center;
}

.social-icon {
  display: inline-block;
  max-width: 50px;
  padding: 30px 10px;
}

.center {
  display: block;
  margin: auto;
  max-width: 50%;
  text-align: center;
  padding: 10px;
}

.center-dt {
  display: block;
  margin: auto;
  max-width: 75%;
  text-align: center;
}

#home-about .button {
  display: block;
  margin: auto;
  max-width: fit-content;
  text-align: center;
}

.dpicon {
  width: 100px;
}

.dpicon-2 {
  width: 60px;
}

#bodylayout .dpicon {
  float: left;
}

#contact .contact-tool {
  font-weight: 700;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.column-10 {
  width: 10%;
  float: left;
  padding: 15px;
}

.column-90 {
  width: 90%;
  float: left;
  padding: 15px;
}

.column::after {
  content: "";
  clear: both;
  display: table;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 20px;
  padding-right: 0;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* animation */
@keyframes color-change {
  from { fill: #edc655; }
  to { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate (0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* media queries */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  #about-body h3 {
    margin-top: 0;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
